{% load related_content layout_helpers %}
<article class="clearfix">
    <h4>{{ object.title }}</h4>

    <div class="image left">
        {% with object.related.lead_art.0 as lead_art %}
        {% if lead_art %}
            {% render_model lead_art "article_small" %}
        {% endif %}
        {% endwith %}
    </div>

    {% autoescape off %}
    <p>
        {{ object.summary }}
        <a href="{% url article_detail slug=object.slug %}">Show more</a>
    </p>
    {% endautoescape %}
</article>
