{% extends 'base.html' %}
{% load related_content layout_helpers %}

{% block header %}
    <h1>WikiNews Demo</h1>
{% endblock %}

{% block content %}
    <h4>{{ object.title }}</h4>
    <div class="byline">{{ object.authors }} - {{ object.pub_date }}</div>
        {% with object.related.interstitial.0 as interstitial %}
        {% if interstitial %}
	    <div style="float:right">{% render_model interstitial 'interstitial' %}</div>
        {% endif %}
        {% endwith %}

    {% autoescape off %}
    <div class="story">{{ object.body }}</div>
    {% endautoescape %}
{% endblock %}
